<template>
    <div class="list-group-item">
        <small>
            <span class="text-muted image">
              {{ binder.location }}
            </span>
        </small>
        <p>
          You can experiment with this {{ kind }} in a Jupyter Notebook.
          <a class="btn btn-success float-right" :href="binder.url">Launch Binder</a>
        </p>
        <p>
          {{ flavour }}
        </p>
        <p class="text-muted" v-if="kind !== 'branch'">
          {{ binder.is_new ? 'Since' : 'If' }} nobody has launched this build before, the first launch could take a few minutes as {{ total_size }} need to be unzipped, zipped, and copied around several times.
        </p>
        <p class="text-muted" v-if="kind !== 'branch'">
          The contents of the sample notebook have been generated from this <a href="https://gitlab.com/sagemath/gitlab-sage/tree/master/service/templates/">template</a>.
          If the template has changed, you can <a href="#" @click="rerender">rerender</a> the binder configuration
        </p>
        <p class="alert alert-danger" v-if="kind === 'branch'">
          This docker image was created for a <em>{{ kind }}</em>, not for the specific commit that you are interested in. It is likely that this image does
          not reflect the current state of that branch but an outdated version. You should double check that you are running the latest version of that branch,
          e.g., with <code>??</code> introspection. Unfortunately, this binder instance can not be cached so it will take a while to start since {{ total_size }}
          need to be unzipped, zipped, and copied around several times.
        </p>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import GitRef from '@/components/GitRef.vue';

@Component({
    components: { GitRef },
})
export default class BinderLink extends Vue {
    @Prop({required: true, type: Object}) private binder!: any;
    @Prop({required: true, type: String}) private kind!: any;
    @Prop({required: true, type: Function}) private rerender!: () => void;

    private get total_size() {
        return Math.round(this.binder.total_size / 1024 / 1024) + ' MB';
    }

    private get flavour() {
        if (this.binder.name.endsWith('-py3')) {
            return 'This is a Python 3 build.';
        } else {
            return 'This is a Python 2 build.';
        }
    }
}
</script>
<style scoped>
.list-group-item {
    position: relative;
}

.image {
    position: absolute;
    right: 0em;
    top: -1.2em;
}
</style>