<template>
  <div class="binder-list">
      <loading-overlay :active="rerendering" :is-full-page="false" />
      <loading :async-computed="$asyncComputed.commitBinders">
        <ul class="list-group list-group-flush">
          <binder-link v-for="binder of commitBinders" :key="binder.url" :binder="binder" kind="commit"  :rerender="() => rerender(binder)" /> 
        </ul>
        <div v-if="commitBinders.length === 0">
            <div class="alert alert-warning text-muted">
              No Docker images for the commit <git-ref kind="commit" :source="source" :refLike="commit"/> could be found in the registry.
            </div>
            <loading :async-computed="$asyncComputed.commitPipelines">
              <div class="alert alert-info text-muted" v-html="explainNoCommitImages" />
            </loading>

            <loading v-if="kind !== 'commit'" :async-computed="$asyncComputed.refBinders">
                <ul class="list-group list-group-flush">
                    <binder-link v-for="binder of refBinders" :key="binder.url" :binder="binder" :kind="kind" :rerender="() => rerender(binder)" />
                </ul>
                <div v-if="refBinders.length === 0" class="alert alert-warning text-muted">
                    We could not even find any Docker image for the {{ kind }} you selected.
                </div>
            </loading>
        </div>
      </loading>
  </div>   
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import AsyncComputed from '../async-computed';
import { binders, pipelines, remove } from '../api';
import Loading from '@/components/Loading.vue';
import GitRef from '@/components/GitRef.vue';
import every from 'lodash-es/every';
import BinderLink from '@/components/BinderLink.vue';
import LoadingOverlay from 'vue-loading-overlay';

@Component({
    components: { Loading, GitRef, BinderLink, LoadingOverlay },
})
export default class BinderList extends Vue {
    @Prop({required: true, type: String}) private source!: string;
    @Prop({required: true, type: String}) private kind!: string;
    @Prop({required: true, type: String}) private refLike!: string;
    @Prop({required: true, type: String}) private commit!: string;

    private rerendering: boolean = false;

    @AsyncComputed({default: []})
    private async commitBinders() {
        return await binders(this.source, 'commit', this.commit);
    }

    @AsyncComputed({lazy: true, default: []})
    private async commitPipelines() {
        return await pipelines(this.source, this.commit);
    }

    @AsyncComputed({lazy: true, default: []})
    private async refBinders() {
        return await binders(this.source, this.kind, this.refLike);
    }

    private get explainNoCommitImages() {
        // Trigger the load of the refBinders.
        const ignored = this.refBinders;
        if (this.commitPipelines.length === 0) {
            return 'It seems that no pipeline was created for this commit. Probably this is an old commit that was created before we started using GitLab CI.';
        } else if (every(this.commitPipelines, (p) => (p as any).status !== 'success')) {
            return 'Since none of the build pipelines succeeded, the "build" step might have failed or is still running. This often happens when the latest develop branch had not been merged into your branch yet or because changes of basic SPKGs caused the build to time out.';
        } else {
            return 'Since your builds succeeded, there should be a Docker image for that specific commit but there is none. Maybe you have not merged <a href="https://trac.sagemath.org/ticket/28457">#28457</a> yet?';
        }
    }

    private async rerender(binder: any) {
        this.rerendering = true;
        // If this fails, then we never set rerendering back to false, so the page just hangs.
        // That's better than pretending that it just worked.
        await remove(binder.branch);
        (this as any).$asyncComputed.commitBinders.update();
        (this as any).$asyncComputed.refBinders.update();
        this.rerendering = false;
    }
}
</script>
<style scoped>
.binder-list {
    position: relative;
    min-height: 65px;
}
</style>