<template>
    <div classs="card-text">
        <p class="text-muted">
            Each commit to our repository on <a href="https://trac.sagemath.org">Trac</a> is mirrored to GitLab.
            On GitLab we automatically run a <a href="https://gitlab.com/sagemath/dev/trac/pipelines">Pipeline</a>
            of Jobs for each commit which builds a <a href="https://gitlab.com/sagemath/sage/tree/master/docker">Docker Image</a> and pushes it
            to GitLab's Registry. Releases and Pre-Releases are also pushed to the <a href="https://hub.docker.com/r/sagemath/sagemath">
            Docker Hub</a>.
        </p>
        <p class="text-muted">
            These docker image can be used to run a free Jupyter Notebook in the cloud through <a href="https://mybinder.org">binder</a> so
            others can try out your experimental code without having to rebuild Sage locally.
        </p>
    </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class BinderIntro extends Vue {}
</script>