<!--

  Displays details about a specific commit such as binder links and its predecessors.

  -->
<template>
    <div class="card-text">
      <small>
        <span class="text-muted float-right commit">
          [{{ commit.author_name }}] {{ commit.id }}
        </span>
      </small>
      <pre>{{ commit.message.trim() }}</pre>
      <h6>Available Binders</h6>
      <binder-list :commit="commit.id" :source="source" :kind="kind" :ref-like="refLike" />
      <hr/>
      <p class="text-muted">
        Go back to one of the parents of this commit
        <ul class="list-group list-group-flush">
          <li v-for="parent of commit.parent_ids" :key="parent" class="list-group-item">
            <small><git-ref :source="source" :kind="'commit'" :ref-like="parent" :href="`/status/${source}/commit/${parent}`" :preview="true" /></small>
          </li>
        </ul>
      </p>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import GitRef from '@/components/GitRef.vue';
import BinderList from '@/components/BinderList.vue';

@Component({
  components: { BinderList, GitRef },
})
export default class CommitStatus extends Vue {
  @Prop({required: true, type: Object}) private commit!: any;
  @Prop({required: true, type: String}) private source!: string;
  @Prop({required: true, type: String}) private kind!: string;
  @Prop({required: true, type: String}) private refLike!: string;
}
</script>
<style scoped>
.card-text {
  position: relative;
}

.commit {
  position: absolute;
  right: .2em;
  top: .2em;
}

pre {
  background-color: #f8f9fa;
  padding: 1.5em;
}
</style>