<!--
  Pretty prints a reference to GitLab to a tag, branch, or commit.
-->
<template>
    <span>
        {{ printableKind }}
        <a :href="url">{{ printableRefLike }}</a> <span v-if="preview"> {{ message ? '—' : '' }} {{ message }}</span>
    </span>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import AsyncComputed from '@/async-computed';
import { commit } from '../api';

@Component
export default class GitRef extends Vue {
    @Prop({required: true, type: String}) private source!: string;
    @Prop({required: true, type: String}) private kind!: string;
    @Prop({required: true, type: String}) private refLike!: string;
    @Prop({required: false, default: false, type: Boolean}) private preview!: boolean;
    @Prop({required: false, default: '', type: String}) private href!: string;

    private get printableRefLike() {
        if (this.kind === 'commit') {
            return this.refLike.substring(0, 12);
        } else {
            return this.refLike;
        }
    }

    private get printableKind() {
        if (this.kind === 'branch') {
            return 'branch';
        } else if (this.kind === 'tag') {
            return 'tag';
        } else {
            return '';
        }
    }

    private get url() {
        if (this.href) {
            return this.href;
        }
        return `${
            this.source === 'trac' ? 'https://gitlab.com/sagemath/dev/trac' : 'https://gitlab.com/sagemath/dev/sage'
        }/${
            (this.kind === 'branch' || this.kind === 'tag') ? 'tree' : 'commit'
        }/${
            this.refLike
        }`;
    }

    @AsyncComputed({lazy: true, default: '…'})
    private async message() {
        return (await commit(this.source, this.kind, this.refLike)).message;
    }
}
</script>