<!--

 A tiny wrapper around vue-loading-overlay adapted for use with vue-async-computed.

 -->
<template>
    <div>
        <loading-overlay :active="asyncComputed.updating" :is-full-page="false" />
        <div v-if="asyncComputed.error" class="alert alert-danger">
            {{ asyncComputed.exception }}
        </div>
        <slot v-if="asyncComputed.success" />
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import LoadingOverlay from 'vue-loading-overlay';
import { IASyncComputedState } from 'vue-async-computed';

@Component({ components: { LoadingOverlay }})
export default class Loading extends Vue {
    @Prop({required: true, type: Object}) private asyncComputed!: IASyncComputedState;
}
</script>