<template>
    <div class="card-body">
        <binder-intro />
        <p class="card-text">
            Select your branch, tag, or commit:
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <select class="custom-select" v-model="source">
                        <option selected value="trac">Trac</option>
                        <option value="dev">dev/sage</option>
                    </select>
                    <select class="custom-select" v-model="kind">
                        <option selected value="branch">Branch</option>
                        <option value="tag">Tag</option>
                        <option value="commit">Commit</option>
                    </select>
                </div>
                <input type="text" class="form-control" v-model="ref" />
            </div>
            <a :href="url"><div class="btn btn-primary float-right">Create Binder</div></a>
        </p>
    </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BinderIntro from '@/components/BinderIntro.vue';

@Component({
    components: { BinderIntro },
})
export default class BinderSelector extends Vue {
    private source: string = 'trac';
    private kind: string = 'branch';
    private ref: string = 'master';

    private get url() {
        return `/status/${encodeURIComponent(this.source)}/${encodeURIComponent(this.kind)}/${encodeURIComponent(this.ref)}`;
    }
}
</script>