<template>
  <div class="text-center d-flex h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <router-link to="/"><img class="home" src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/home.svg"/></router-link>
    </header>
    <main class="inner">
      <router-view/>
    </main>
    <footer class="page-footer font-small mt-auto">
      <a href="https://trac.sagemath.org">Trac</a> | <a href="https://gitlab.com/sagemath/dev/trac/pipelines">Trac Pipelines on GitLab</a> | <a href="https://gitlab.com/sagemath/gitlab-sage">Edit this Page</a>
    </footer>
  </div>
</template>
<style lang="scss">
html {
  height: 100%;
}
body {
  max-width: 900px;
}
.home {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 10%;
  opacity: .6;
  z-index: 10;
}
.card {
  text-align: initial;
  margin-bottom: 2em;
}
</style>
