<template>
  <div class="card">
    <div class="card-header">
      <h5>Binder Integration</h5>
    </div>
    <ref-selector />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import RefSelector from '@/components/RefSelector.vue';

@Component({
  components: { RefSelector },
})
export default class Home extends Vue {}
</script>
