<!--

  Displays information about a specific ref and its predecessors such as the status of its Binder links.

 -->
<template>
  <div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          Binder Integration
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          for <git-ref :source="source" :kind="kind" :refLike="refLike" />
        </h6>
      </div>
      <div class="card-body">
        <loading :async-computed="$asyncComputed.commit">
          <commit-status v-if="!$asyncComputed.commit.error" :commit="commit" :source="source" :kind="kind" :refLike="refLike" />
        </loading>
        <hr />
        <binder-intro />
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          Other Versions of SageMath
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Recent Releases and Pre-Releases
        </h6>
      </div>
      <div class="card-body">
        <loading :async-computed="$asyncComputed.releases">
          <a v-for="release of releases" :key="release" class="btn btn-link" :href="'/status/sage/tag/' + encodeURIComponent(release)">
            {{ release }}
          </a>
        </loading>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BinderIntro from '@/components/BinderIntro.vue';
import GitRef from '@/components/GitRef.vue';
import CommitStatus from '@/components/CommitStatus.vue';
import axios from 'axios';
import AsyncComputed from '@/async-computed';
import { commit, releases } from '@/api';
import Loading from '@/components/Loading.vue';
import 'vue-loading-overlay/dist/vue-loading.css';

@Component({
  components: { BinderIntro, GitRef, CommitStatus, Loading },
})
export default class Status extends Vue {
  private get source() { return this.$router.currentRoute.params.source; }
  private get kind() { return this.$router.currentRoute.params.kind; }
  private get refLike() { return this.$router.currentRoute.params.ref; }

  @AsyncComputed()
  private async commit() {
    return await commit(this.source, this.kind, this.refLike);
  }

  @AsyncComputed({default: []})
  private async releases() {
    return await releases();
  }
}
</script>